@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+Rounded+1c&family=Nanum+Myeongjo:wght@700&display=swap'); 
.text-center{
    font-family:Josefin Sans;
    text-align: center;
    font-size: 55px;
}
.col-12 {
	color:rgb(170,21,30);
	border-color:rgb(170,21,30);
	background:-webkit-linear-gradient(left,rgb(170,21,30),rgb(170,21,30)) no-repeat;
	background:linear-gradient(to right,rgb(170,21,30),rgb(170,21,30)) no-repeat;
	background-size:0% 100%;
    text-align: center;
    font-size: 20px;
    font-family: Josefin Sans;
}
.col-12:hover{
	background-size:100% 100%;
	color:white;
}
.col-12 input{
    z-index:-1;
    
}
.col-12 type{
    z-index:10;
}
img{
    transition:all 0.5s;
    cursor:pointer;
}
img:hover{
    transform:scale(1.05);
}
p{
    color:black;
    font-family:Nanum Myeongjo;
    transition:all 0.5s;
}
p:hover{
    color:rgb(170,21,30);
}
a{
    text-decoration: none;
}
#subscription{
    font-family:Josefin Sans;
    font-size: 30px;
}
#subscription-form{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#subscription form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #subscription form div:nth-child(1){
    margin-right:25px;
  }
  
  #subscription .row{
    align-items: center;
  }
  
  .about-main{
    margin-top:75px;
  }
  
  .about-main .divider span{
    padding: 0;
}
.form-control{
    font-size: 25px;
    
}
#subscription{
    border-bottom: 1px solid rgb(170,21,30);
}
